@media screen and (min-width: 1020px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .container {
        position: relative;
        height: auto;

    }

    .events {
        position: absolute;
        top: 10px;
        left: 120px;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        height: 250px;
        width: 30%;
        padding: 20px;
        color: black;

    }

    .weather {
        position: relative;
        bottom: 250px;
        float: left;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        width: 30%;
        padding: 20px;
        color: black;
    }

    .action {
        position: relative;
        bottom: 250px;
        float: right;
        right: 10px;
    }

    h2 {
        padding: 1em;
        width: 100%;
        margin-left: -3em;
        color: beige;

    }

    picture img {
        max-width: 80%;
        padding: 4em;
    }

    .container-discover {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .images {
        grid-column: 2/4;
        grid-row: 1/8;
    }

    .information {
        grid-column: 1/2;
        grid-row: 1/3;
    }


}