header {
    background-color: rgb(60, 128, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid rgba(172, 24, 24, 0.1);
}

header,
main {
    margin: 0 auto;
}

body {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Jost", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

h2 {
    background-color: rgb(60, 128, 60);
    color: beige;
    margin: 0px;
    text-align: center;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

li,
nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: aqua;
}

.active {
    color: yellow;
}

.icon {
    max-width: 2em;
}

.card {
    border: 1px solid #bbb;
    margin: 1em;
}

footer {
    background-color: rgb(60, 128, 60);
    color: beige;
    text-align: center;
    padding: 1em;
}