header {
    background-color: #A0937D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid rgba(172, 24, 24, 0.1);
    border-radius: 8px;
}


body {
    font-family: "Raleway", sans-serif;
}

h1,
.name {
    font-family: "Jost", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.name {
    color: black;
}

h2 {
    background-color: #A0937D;
    color: beige;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
}

nav {
    background-color: #474246;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 8px;
}

li,
nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

li a:hover,
nav a:hover {
    text-decoration: underline;
    background-color: #E7D4B5;
    color: black;
    border-radius: 8px;
}

.active {
    color: yellow;
}

.icon {
    max-width: 2em;
}

.card {
    border: 1px solid #bbb;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 30px #333;
}

.information {
    text-align: center;
}

footer {
    background-color: #A0937D;
    border-radius: 8px;
    color: black;
    text-align: center;
    padding: 1em;
}


.profilePic {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
    margin: 10px;
}