:root {
    color: black;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

h1 {
    color: beige;
    font-family: "Jost", sans-serif;
    font-weight: 800;
    background-color: purple;
    text-align: center;
    padding: 2em;
}

footer {
    color: beige;
    background-color: purple;
    text-align: center;
    padding: 2em;
}


section {
    display: grid;
    place-items: center;
}

.icon {
    max-width: 80px;
}

ul li {
    list-style-type: none;
}

picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}