@media screen and (min-width: 560px) {
    .container {
        position: relative;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .activities {
        grid-column: 1/3;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }


}