@media screen and (min-width: 560px) {
    .container {
        position: relative;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .activities {
        grid-column: 1/2;
    }

    .information {
        grid-template-columns: 2/3
    }
}