@media screen and (min-width: 560px) {

    .container {
        position: relative;
        height: auto;

    }

    .data {
        position: absolute;
        top: 20px;
        left: 30px;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        min-width: 25%;
        padding: 20px;
        color: black;

    }

    .weather {
        position: relative;
        bottom: 250px;
        float: right;
        right: 30px;
        background: rgb(0, 0, 0);
        background: rgba(252, 252, 252, 0.8);
        min-width: 25%;
        padding: 20px;
        color: black;

    }

    div.weather {
        background: none;
    }

    h2 {
        background: green;
        padding: 1em;
        width: 100%;
        margin-left: -3em;
        color: beige;

    }


    picture img {
        width: 100%;
        height: auto;
    }





}